*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
