.header {
  background-color: #f5f2d5; /* нежно-жёлтый фон */
  border-bottom: 3px solid #35110F;
  height: 100px; /* фиксированная высота */
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 0px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: Extra Bold;
  font-size: 22px;
  color: #000000;
}

.nav__list--even {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.logo__item {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

