.main__intro {
  text-align: center;
  padding: 60px 20px;
  background-color: #fafafa;
}

.main__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.main__text {
  font-size: 18px;
  color: #666;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="submit"],
button {
  padding: 10px 20px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.about {
  display: flex;
  gap: 20px;
  background-color: #f3f3f3;
  color: #35110F;
  padding: 30px;
  margin-bottom: 40px;
}

.about__wrap-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about__wrap-right {
  width: 500px;
  flex-shrink: 0;
}

.about__title {
  font-size: 28px;
  margin-bottom: 15px;
}

.about__text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about__button {
  display: block;
  padding: 12px 20px;
  background-color: #800080;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  width: fit-content;
  margin-top: auto;
}
.about__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
