@media (max-width: 768px) {
 .container {
    max-width: 100%;
    padding: 0 10px;
 }
  
<!-- Секция "Хедер" -->
 .header__nav {
  flex-direction: column;
  align-items: center;
  gap: 20px;
 }

 .nav__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
 }
  
  .header__logo {
    width: 60px;
    height: 60px;
 }

<!-- Секция "Задайте свой вопрос" -->   
  .form__label {
    width: 100%;
 }

  .form__input,
  .form__textarea {
    width: 100%;
 }

 .main__form-section {
  padding: 20px 10px;
 }

.main__title {
  font-size: 24px;
  text-align: center;
}

.main__text {
  font-size: 16px;
  text-align: center;
}

<!-- Секция "О кафе" -->
.aboutus {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutus__left {
  text-align: center;
}

.aboutus__right {
  text-align: left;
}

<!-- Секция "Отзывы" -->
 .reviews__list {
  flex-direction: column;
  align-items: center;
  gap: 30px;
 }

 .review__card {
   max-width: 90%;
 }

 .review__photo {
   width: 90px;
   height: 90px;
 }

 .review__name {
   font-size: 18px;
 }

 .review__text {
   font-size: 15px;
}

<!-- Секция "Футер" -->
.footer__columns {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
}
